:root {
  --gutter: 1rem;
  --color-bg: rgb(240, 255, 255);
  --color-alt: rgb(120, 200, 200);
  --color-dark: rgb(0, 100, 100);
  --color-disabled: rgb(184, 204, 204);
  --color-light: rgb(255, 255, 255);
  --color-focus: rgb(220, 240, 240);
}
